<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<!-- View-->
     <div id="vue1">
        <h1>Hello,啊 莼,你想我吗？</h1>
         <h1 v-if = "yes">想!</h1>
         <h1 v-if="no">不想!</h1>
         <h1 v-if="age >=20">Age:{{age}}</h1>
         <input type="text" v-model="age">

     </div>

     <script>
         <!-- 这是我的Model-->
         var example = {
             message:'Hello Vue!'
         }
        /*创建一个Vue实例*/
         new Vue({
             el:'#vue1',/*表示将Vue实例挂载到vue1这个元素上*/
             data:{
                 yes:true,
                 no:false,
                 age:19
             }
         })

     </script>

</body>
</html>